@font-face {
  font-family: "PT Sans";
  src: url("source/fonts/ptsans.woff2") format("woff2"), url("source/fonts/ptsans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("source/fonts/ptsansbold.woff2") format("woff2"), url("source/fonts/ptsansbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
.page__body {
  font-family: "PT Sans", "Times New Roman", sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  margin-top: 0;
}
.visually-hidden {
  display: none;
}
.main-nav {
  position: relative;
}
.main-nav__wrapper {
  display: flex;
  justify-content: right;
  width: 320px;
  height: 56px;
}
.main-nav__button_wrapper {
  margin-top: 17px;
  margin-bottom: 17px;
  margin-right: 20px;
}
.main-nav__toggle {
  position: absolute;
  width: 22px;
  height: 22px;
  margin: 20px;
  top: 0;
  left: 258px;
  background-image: url("img/icon-menu-burger.svg");
  border: 0;
  background-color: #ffffff;
  cursor: pointer;
}
.main-nav-list {
  width: 320px;
  padding-left: 0;
  z-index: 1;
  position: absolute;
  top: -17px;
  left: 0;
  background-color: #81b3d2;
  display: none;
}
.main-nav-list::after {
  width: 220px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: url("img/icon-cross.svg");
}
.main-nav-list__item {
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-top: 17px;
  margin-bottom: 12px;
  color: #ffffff;
}
.main-nav-list__item:not(:first-child)::before {
  width: 320px;
  height: 1px;
  display: block;
  background-color: #678fa8;
  content: "";
}
.main-nav-list__link {
  color: #ffffff;
  text-decoration: none;
}
.main-nav-list--active {
  display: block;
}
.main-header {
  width: 320px;
  margin: 0 auto;
  position: relative;
}
.main-header__logo {
  position: absolute;
  top: 0;
  left: 67px;
}
.welcome {
  width: 320px;
  margin: 0 auto;
  background-image: url("img/header-backgound.jpg");
  background-repeat: no-repeat;
  text-align: center;
}
.welcome__image {
  position: relative;
  margin-top: 90px;
  margin-bottom: 90px;
}
.welcome__image::after {
  width: 320px;
  height: 37px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("img/white-triangle.svg");
}
.welcome__headline {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-top: 35px;
  margin-bottom: 35px;
  text-transform: uppercase;
}
.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
}
.advantages__headline {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.advantages-item {
  background-color: #eeeeee;
  text-align: center;
}
.advantages-item__headline {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 35px;
}
.advantages-item__headline--block-with-image,
.advantages-item__number--block-with-image,
.advantages-item__text--block-with-image {
  background-color: #81b3d2;
}
.advantages-item__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding-top: 23px;
}
.advantages-item__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 28px;
}
.advantages-item__text:nth-child(1) {
  padding-bottom: 28px;
}
.advantages-item__image {
  padding-top: 40px;
  width: 320px;
  height: 100%;
  background-color: #81b3d2;
}
.advantages-inner-list {
  padding: 0 20px;
}
.advantages-inner-list__item {
  list-style-type: none;
}
.developed-by {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  margin-top: 47px;
}
.developed-by__text {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.developed-by__image {
  margin: 13px;
}
.developed-by__link {
  text-decoration: none;
  color: #000000;
}
.find-hotel__wrapper {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}
.find-hotel__headline {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 35px;
}
.find-hotel__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 30px;
}
.find-hotel__button {
  width: 284px;
  height: 58px;
  background: #81b3d2;
  color: #ffffff;
  border: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 35px;
  padding: 10px;
}
.map {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.map__wrapper {
  width: 320px;
}
.social-list {
  padding: 0;
  display: flex;
  gap: 6px;
  margin: 0 80px;
}
.social-list__item {
  list-style-type: none;
  background-color: #81b3d2;
  width: 54px;
  height: 48px;
}
.footer {
  text-align: center;
  width: 320px;
  margin: 0 auto;
}
.footer__hashtag {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
}
/*# sourceMappingURL=style.css.map */
