.advantages-inner-list {
  padding: 28px 19px 55px 17px;
  text-align: left;

  @media (min-width: @tablet-width) {
    display: flex;
    padding: 60px 33px;
  }
}

.advantages-inner-list__item {
  display: grid;
  grid-template-columns: 40px auto;
  grid-template-rows: repeat(3, auto);
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 45px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.advantages-inner-list__headline {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 10px;
  padding-left: 12px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    padding-left: 0;
    padding-top: 26px;
  }
}

.advantages-inner-list__text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  padding: 27px 0 43px 12px;
  grid-column-start: 2;

  @media (min-width: @tablet-width) {
    text-align: center;
    padding-bottom: 0;
    padding-left: 0;
  }
}

.advantages-inner-list__icon {
  @media (min-width: @tablet-width) {
    width: 75px;
    height: 75px;
  }
}
