.advantages-item {
  background-color: #eeeeee;
  text-align: center;
}

.advantages-item__headline {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 29px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.advantages-item__headline--block-with-image,
.advantages-item__number--block-with-image,
.advantages-item__text--block-with-image {
  background-color: #81b3d2;
  color: #ffffff;
}

.advantages-item__number {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding-top: 23px;
}

.advantages-item__text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 29px;
}

.advantages-item__text:nth-last-child(1) {
  padding-bottom: 28px;
}

.advantages-item__image {
  width: 320px;
  height: 100%;
  background-color: #81b3d2;
}

.advantages-item--image {
  @media (min-width: @tablet-width) {
    display: flex;
    width: 100%;
  }
}

.advantages-item___image-left {
  @media (min-width: @tablet-width) {
    order: -1;
  }
}

.advantages-item--no-image {
  @media (min-width: @tablet-width) {
    width: 33%;
    flex-grow: 1;
  }
}

.advantages-item__text-wrapper {
  @media (min-width: @tablet-width) {
    background-color: #81b3d2;
    flex-direction: column;
    padding: 15px;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    padding: 28px;
  }
}
