.advantages-item {
  background-color: #eeeeee;
  text-align: center;
}

.advantages-item__headline {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 27px;
}

@media (min-width: @tablet-width) {
  font-size: 21px;
}

.advantages-item__headline--block-with-image,
.advantages-item__number--block-with-image,
.advantages-item__text--block-with-image {
  color: #ffffff;
  font-weight: 700;
}

.advantages-item__number {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-top: 23px;
}

.advantages-item__text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-top: 28px;
  padding-bottom: 28px;
  margin-bottom: 0;
}

.advantages-item__image {
  @media (min-width: @tablet-width) {
    width: 512px;
    height: 256px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}

.advantages-item--image {
  position: relative;

  &:nth-child(1)::before {
    position: absolute;
    width: 320px;
    height: 57px;
    top: -21px;
    left: 0;
    background-image: url("../img/white-triangle-advantages.svg");
    background-repeat: no-repeat;
    content: "";

    @media (min-width: @tablet-width) {
      content: none;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    width: 100%;
  }
}

.advantages-item___image-left {
  @media (min-width: @tablet-width) {
    order: -1;
  }
}

.advantages-item--no-image {
  &::after {
    content: "";
    display: block;
    align-items: center;
    width: 284px;
    height: 1px;
    background-color: #d6d6d6;
    margin: 0 auto;
  }

  @media (min-width: @tablet-width) {
    width: 255px;
    flex-grow: 1;
    padding-bottom: 63px;
    padding-top: 42px;

    &::after {
      display: none;
    }
  }
}

.advantages-item__text-wrapper {
  background-color: #81b3d2;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    padding: 15px;
    width: 256px;
    height: 226px;
  }

  @media (min-width: @desktop-width) {
    padding: 28px;
    width: 353px;
    height: 200px;
  }
}
