.advantages-item {
  background-color: #edeeed;
  text-align: center;

  & .advantages-item__headline--block-with-image {
    padding-top: 54px;
    margin-left: -7px;

    @media (min-width: @tablet-width) {
      padding-top: 24px;
      margin: 0 25px 0 25px;
      font-size: 21px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 19px;
      margin: 0 85px 0 85px;
    }
  }

  & .advantages-item__headline-1-2-3 {
    padding-top: 24px;
  }

  & .advantages-item__text--block-with-image {
    @media (min-width: @tablet-width) {
      margin-left: 10px;
      margin-right: 10px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 40px;
      margin-right: 40px;
    }
  }
}

.advantages-item__headline {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 35px;
}

@media (min-width: @tablet-width) {
  font-size: 21px;
}

.advantages-item__headline--block-with-image,
.advantages-item__number--block-with-image,
.advantages-item__text--block-with-image {
  color: #ffffff;
}

.advantages-item__number {
  font-size: 14px;
  line-height: 21px;
  margin-top: 10px;
  margin-left: -7px;

  @media (min-width: @tablet-width) {
    padding-top: 4px;
    margin-bottom: 23px;
  }
}

.advantages-item__text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 17px 23px 0 15px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }
}

.advantages-item__image {
  display: block;

  @media (min-width: @tablet-width) {
    width: 512px;
    height: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}

.advantages-item--image {
  position: relative;

  &:nth-child(1)::before {
    position: absolute;
    width: 320px;
    height: 57px;
    top: -17px;
    left: 0;
    background-image: url("../img/white-triangle-advantages.svg");
    background-repeat: no-repeat;
    content: "";

    @media (min-width: @tablet-width) {
      display: flex;
      content: none;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    width: 100%;
  }
}

.advantages-item___image-left {
  @media (min-width: @tablet-width) {
    order: -1;
  }
}

.advantages-item--no-image {
  width: 320px;

  &:not(:last-child)::after {
    content: "";
    display: block;
    align-items: center;
    width: 284px;
    height: 1px;
    background-color: #d6d6d6;
    margin: 0 auto;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    width: 33%;
    flex-grow: 1;
    padding-bottom: 15px;
    padding-top: 17px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 35px;
  }
}

.advantages-item__wrapper {
  display: inline-block;
  text-align: center;
}

.advantages-item__wrapper--3 {
  width: 240px;

  @media (min-width: @tablet-width) {
    width: 177px;
  }

  @media (min-width: @desktop-width) {
    width: 290px;
  }

  & .advantages-item__headline {
    @media (min-width: @desktop-width) {
      padding-top: 25px;
      width: 120px;
    }
  }

  & .advantages-item__text {
    margin: 0;
    padding-bottom: 24px;

    @media (min-width: @tablet-width) {
      padding-top: 5px;
    }
  }

  & .advantages-item__number {
    margin-bottom: 18px;

    @media (min-width: @tablet-width) {
      padding-left: 6px;
    }
  }
}

.advantages-item__wrapper--4 {
  width: 235px;

  @media (min-width: @tablet-width) {
    width: 138px;
  }

  @media (min-width: @desktop-width) {
    width: 270px;
  }

  & .advantages-item__headline {
    @media (min-width: @desktop-width) {
      padding-top: 25px;
      width: 120px;
    }
  }

  & .advantages-item__number {
    margin-bottom: 18px;

    @media (min-width: @tablet-width) {
      padding-left: 6px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 9px;
    }
  }

  & .advantages-item__text {
    margin: 0;
    padding-bottom: 25px;

    @media (min-width: @tablet-width) {
      padding-top: 5px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 4px;
      padding-left: -2px;
    }
  }
}

.advantages-item__wrapper--5 {
  width: 255px;

  @media (min-width: @tablet-width) {
    width: 135px;
  }

  @media (min-width: @desktop-width) {
    width: 265px;
  }

  & .advantages-item__headline {
    @media (min-width: @desktop-width) {
      padding-top: 25px;
      width: 120px;
    }
  }

  & .advantages-item__number {
    margin-bottom: 18px;

    @media (min-width: @tablet-width) {
      padding-left: 6px;
    }
  }

  & .advantages-item__text {
    margin: 0;
    padding-bottom: 26px;

    @media (min-width: @tablet-width) {
      width: 150px;
      padding-top: 5px;
    }

    @media (min-width: @desktop-width) {
      width: 260px;
      padding-left: 4px;
    }
  }
}

.advantages-item__headline-1-2-3 {
  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-top: 0;
    padding-top: 0;
    display: inline-block;
    text-align: center;
  }
}

.advantages-item--reverse {
  flex-direction: row-reverse;
}

.advantages-item--2-block-with-image {
  & .advantages-item__headline {
    padding-top: 38px;
    padding-left: 9px;

    @media (min-width: @tablet-width) {
      padding: 28px 13px 0 13px;
    }

    @media (min-width: @desktop-width) {
      padding: 22px 12px 0 12px;
    }
  }

  & .advantages-item__number {
    padding-left: 9px;
  }

  & .advantages-item__text {
    padding-left: 9px;
    padding-bottom: 36px;

    @media (min-width: @tablet-width) {
      margin-top: -1px;
      margin-right: 20px;
    }

    @media (min-width: @desktop-width) {
      margin: 2px 60px 0 51px;
    }
  }
}

.advantages-item__text-wrapper {
  background-color: #81b3d2;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    padding: 15px;
    width: 256px;
    height: 226px;
  }

  @media (min-width: @desktop-width) {
    padding: 28px;
    width: 353px;
    height: 200px;
  }
}
