.advantages-inner-list {
  text-align: left;
  background-color: #ffffff;
  padding: 23px 0 30px 18px;

  @media (min-width: @tablet-width) {
    display: flex;
    padding: 60px 0;
    padding-bottom: 36px;
  }

  @media (min-width: @desktop-width) {
    padding: 56px 0 58px 23px;
  }
}

.advantages-inner-list__item {
  display: grid;
  grid-template-columns: 40px auto;
  grid-template-rows: repeat(3, auto);
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 35px;
    margin-left: 28px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 72px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.advantages-inner-list__icon {
  @media (min-width: @tablet-width) {
    width: 75px;
    height: 75px;
    padding-right: 10px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
  }
}

.advantages-inner-list__headline {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 8px;
  padding-left: 7px;

  @media (min-width: @tablet-width) {
    line-height: 22px;
    font-size: 21px;
    padding-top: 26px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 30px;
  }
}

.advantages-inner-list__text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  padding: 8px 12px 23px 6px;
  grid-column-start: 2;

  @media (min-width: @tablet-width) {
    width: 170px;
    text-align: center;
    padding-top: 24px;
    padding-left: 16px;
  }

  @media (min-width: @desktop-width) {
    width: 270px;
  }
}

.advantages-inner-list__item--2 {
  & .advantages-inner-list__icon {
    @media (min-width: @tablet-width) {
      padding-top: 2px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 5px;
      padding-right: 14px;
    }
  }

  & .advantages-inner-list__headline {
    padding-left: 10px;

    @media (min-width: @tablet-width) {
      padding-top: 23px;
      padding-right: 20px;
    }
  }

  & .advantages-inner-list__text {
    width: 240px;
    padding-top: 10px;
    padding-left: 10px;

    @media (min-width: @tablet-width) {
      width: 155px;
      padding-top: 25px;
      padding-right: 23px;
      padding-left: 3px;
    }

    @media (min-width: @desktop-width) {
      width: 290px;
      padding-left: 9px;
    }
  }
}

.advantages-inner-list__item--3 {
  & .advantages-inner-list__icon {
    @media (min-width: @tablet-width) {
      padding-right: 30px;
    }

    @media (min-width: @desktop-width) {
      padding-right: 2px;
    }
  }

  & .advantages-inner-list__headline {
    @media (min-width: @tablet-width) {
      padding-top: 25px;
      padding-right: 21px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 28px;
      padding-left: 21px;
    }
  }

  & .advantages-inner-list__text {
    padding-left: 3px;

    @media (min-width: @tablet-width) {
      width: 195px;
      padding-top: 25px;
    }

    @media (min-width: @desktop-width) {
      width: 200px;
      padding-left: 48px;
    }
  }
}
