.developed-by {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin: 26px 0 30px 0;
  text-decoration: none;
  color: #000000;

  &:hover {
    color: #81b3d2;
  }

  &:hover .developed-by__icon {
    fill: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }

  &:active .developed-by__icon {
    fill: #b3b3b3;
  }

  @media (min-width: @tablet-width) {
    width: 33%;
    flex-grow: 1;
    align-items: center;
    justify-content: right;
    margin: 0;
    margin-bottom: 6px;
    margin-right: 48px;
  }

  @media (min-width: @tablet-width) {
    margin-right: 48px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 105px;
  }
}

.developed-by__text {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.developed-by__icon {
  display: block;
  margin: 13px;
}
