.find-hotel {
  grid-row-start: 4;
}

.find-hotel__wrapper {
  width: 320px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: @tablet-width) or (min-width: @desktop-width) {
    width: 435px;
    margin-top: 60px;
  }
}

.find-hotel__headline {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 35px;

  @media (min-width: @tablet-width) or (min-width: @desktop-width) {
    font-size: 30px;
  }
}

.find-hotel__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;

  @media (min-width: @tablet-width) or (min-width: @desktop-width) {
    margin-top: 37px;
  }
}

.find-hotel__button {
  width: 284px;
  height: 58px;
  background: #81b3d2;
  color: #ffffff;
  border: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 35px;
  padding: 10px;

  @media (min-width: @tablet-width) or (min-width: @desktop-width) {
    margin-top: 41px;
  }
}
