.footer__wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    display: flex;
    flex-grow: 1;
    align-items: baseline;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.footer {
  @media (min-width: @tablet-width) {
    margin: 36px 45px;
  }
}

.footer__hashtag {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 40px;

  @media (min-width: @tablet-width) {
    width: 33%;
    text-align: left;
  }
}
