.main-nav-list {
  width: 320px;
  padding-left: 0;
  z-index: 1;
  position: absolute;
  top: -17px;
  left: 0;
  background-color: #81b3d2;
}

.main-nav-list__item {
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-top: 17px;
  padding-bottom: 12px;
  color: #ffffff;
}

.main-nav-list__item:nth-last-child(n+2) {
  border-bottom: 1px solid #678fa8;
}

.main-nav-list__link {
  color: #ffffff;
  text-decoration: none;
}

.main-nav-list--active {
  display: block;
}

.main-nav-list--not-active {
  display: none;
}
