.main-nav {
  position: relative;
}

.main-nav__wrapper {
  display: flex;
  justify-content: right;
  width: 320px;
  height: 56px;
}

.main-nav__toggle {
  position: absolute;
  width: 22px;
  height: 22px;
  margin: 20px;
  top: 0;
  left: 258px;
  background-image: url("../img/icon-menu-burger.svg");
  border: 0;
  background-color: #ffffff;
  cursor: pointer;
}
