.main-nav__wrapper {
  position: relative;
  display: flex;
  justify-content: right;
  margin: 0 auto;

  &::after {
    position: absolute;
    width: 320px;
    height: 57px;
    top: 388px;
    left: 0;
    background-image: url("../img/white-triangle-mobile.svg");
    background-repeat: no-repeat;
    content: "";

    @media (min-width: @tablet-width) {
      width: @tablet-width;
      top: 520px;
      left: 0;
      background-image: url("../img/white-trianlge-tablet.svg");
    }

    @media (min-width: @desktop-width) {
      width: @desktop-width;
      background-image: url("../img/white-triangle-desktop.svg");
    }
  }
}

.main-nav__toggle {
  border: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--nojs {
  display: none;
}
