.main-nav-list {
  width: @mobile-width;
  padding-left: 0;
  z-index: -1;
  position: absolute;
  top: -17px;
  left: 0;
  background-color: #81b3d2;

  @media (min-width: @tablet-width) or (min-width: @desktop-width) {
    background-color: #ffffff;
  }

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    margin-left: 20px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    margin-left: 90px;
    gap: 130px;
  }
}

.main-nav-list__item {
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-top: 18px;
  padding-bottom: 12px;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    &:nth-child(3) {
      margin-right: 30px;
    }

    &:nth-child(2) {
      margin-right: 190px;
    }

    &:nth-child(1) {
      margin-right: 70px;
    }
  }

  @media (min-width: @desktop-width) {
    &:nth-child(3) {
      margin-right: 30px;
    }

    &:nth-child(2) {
      margin-right: 110px;
    }

    &:nth-child(1) {
      margin-right: 60px;
    }
  }
}

.main-nav-list__item:not(:last-child) {
  border-bottom: 1px solid #678fa8;

  @media (min-width: @tablet-width) or (min-width: @desktop-width) {
    border: none;
  }
}

.main-nav-list__link {
  color: #ffffff;
  text-decoration: none;

  @media (min-width: @tablet-width) or (min-width: @desktop-width) {
    color: #000000;
  }
}

.main-nav-list--active {
  display: block;
}

.main-nav-list--not-active {
  display: none;

  @media (min-width: @tablet-width) or (min-width: @desktop-width) {
    display: flex;
  }
}
