.main-nav__wrapper {
  position: relative;
  display: flex;
  justify-content: right;
  margin: 0 auto;

  &::after {
    position: absolute;
    width: 320px;
    height: 60px;
    top: 388px;
    left: 0;
    background-image: url("../img/white-triangle-mobile.svg");
    background-repeat: no-repeat;
    content: "";

    @media (min-width: @tablet-width) {
      width: @tablet-width;
      top: 509px;
      left: 0;
      background-image: url("../img/white-trianlge-tablet.svg");
    }

    @media (min-width: @desktop-width) {
      width: @desktop-width;
      top: 511px;
      background-image: url("../img/white-triangle-desktop.svg");
    }
  }
}

.main-nav__toggle {
  border: 0;

  &:hover .main-nav__burger-icon {
    fill: #b3d1e4;
  }

  &:active .main-nav__burger-icon {
    fill: #d9e8f2;
  }

  &:hover .main-nav__cross-icon {
    fill: #cde1ed;
  }

  &:active .main-nav__cross-icon {
    fill: #a7cae0;
  }
}

@media (min-width: @tablet-width) {
  display: none;
}

.main-nav--nojs {
  & .main-nav__toggle,
  .main-nav__burger-icon,
  .main-nav__cross-icon {
    display: none;
  }

  & .main-nav-list {
    display: block;
    position: static;
    z-index: 6;
  }
}
