.map {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    width: 768px;
    margin-top: 58px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.map__wrapper {
  width: 320px;
  height: 350px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}
