.map {
  margin: 0 auto;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.map__wrapper {
  width: 320px;
  height: 350px;
  box-shadow: 0 10px 15px rgba(0, 1, 1, 0.2);

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}
