.welcome {
  grid-row-start: 2;
  width: 320px;
  margin: 0 auto;
  text-align: center;
  background-image: url("../img/welcome-background.jpg");
  background-repeat: no-repeat;
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);

  @supports (background-image: url("../img/welcome-background.webp")) {
    background-image: url("../img/welcome-background.webp");
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/welcome-background@2x.jpg");
    background-size: 320px auto;

    @supports (background-image: url("../img/welcome-background@2x.webp")) {
      background-image: url("../img/welcome-background@2x.webp");
    }
  }

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    height: 518px;
    background-image: url("../img/welcome-background-tablet.jpg");

    @supports (background-image: url("../img/welcome-background-tablet.webp")) {
      background-image: url("../img/welcome-background-tablet.webp");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/welcome-background-tablet@2x.jpg");
      background-size: @tablet-width auto;

      @supports (background-image: url("../img/welcome-background-tablet@2x.webp")) {
        background-image: url("../img/welcome-background-tablet@2x.webp");
      }
    }
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    background-image: url("../img/welcome-background-desktop.jpg");

    @supports (background-image: url("../img/welcome-background-desktop.webp")) {
      background-image: url("../img/welcome-background-desktop.webp");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/welcome-background-desktop@2x.jpg");
      background-size: 1200px auto;

      @supports (background-image: url("../img/welcome-background-desktop@2x.webp")) {
        background-image: url("../img/welcome-background-desktop@2x.webp");
      }
    }
  }
}

.welcome__image {
  position: relative;
  margin-top: 90px;
  margin-bottom: 79px;

  @media (min-width: @tablet-width) {
    margin-bottom: 240px;
    width: 461px;
    height: 350px;
  }
}

.welcome__headline {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #ffffff;
  margin: 0;
  padding: 25px 0;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-top: -100px;
  }
}
